html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.head-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, #672280, #a626d3);
  color: white;
  align-items: center;
  height: 100px;
}
.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  margin-left: 10px;
}
.left-side > img {
  width: 50px;
  height: 40px;
}
.left-side > h3 {
  width: 150px;
}
.right-side {
  margin-left: auto;
  padding-right: 30px;
  justify-self: center;
  font-size: larger;
}
